@import url('https://fonts.googleapis.com/css2?family=Lato&family=Tapestry&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
    box-sizing: border-box;
}

#background {
    height: 725px;
}

body {
    background-color: #bce0f8;
    font-family: Lato;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #cdb4db;
}

nav a:hover {
    background-color: yellow;
    color: green;
}

.book, .join {
    background-color: rgb(165, 95, 4);
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: yellow;
    color: green;
}

#background {
    background-color: #cdb4db;
}

.msg {
    background-color: #cdb4db;
    color: rgb(1, 65, 1);
    line-height: 1.5em;
    padding: 35px;
}

footer {
    background-color: #cdb4db;
    padding: 25px 50px;
    margin-top: 200px;
}
.home-title {
    color: rgb(47, 128, 0);
    font-family: "Tapestry";
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color:rgb(1, 65, 1);
}

.msg h2 {
    color: rgb(1, 65, 1);
    font-family: "Tapestry";
}

.msg p {
    color: rgb(18, 109, 6);
    font-size: 1em;
    padding-bottom: 15px;
}

footer h3 {
    color: black;
}

footer a {
    color:rgb(0, 102, 255);
    text-decoration: none;
}

footer a:hover {
    color: red;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;

}

#hero-img {
    width: 100%
}

footer h3 a {
    text-decoration: underline;
}

h1, h2, h3, h4 {
    font-family: "Tapestry";
}

h2 {
    margin: 0;
}

#logo_link  {
    padding-top: 5px;
}

footer .social img   {
    padding-top: 15px;
}


.rivers-card, .camping-card, .rapids-card   {
    margin: 200px 0;
}

.card-img {
    border: 10px solid black;
}

